@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Poly:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url(https://cdn.jsdelivr.net/gh/IKEENOO/Portfolio/code/src/assets/background.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;

    color: #fff;
    font-family: "Frank Ruhl Libre", serif;
    font-style: normal;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    text-shadow: #17CE9D 5px 5px;
    font-size: clamp(40px, 8vw, 128px);
    margin: 0;
    padding: 0;
}
h2 {
    font-family: "Poly", serif;
    font-size: clamp(20px, 2vw, 64px);
    font-style: italic;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.links a {
    text-decoration: none;
    color: #17CE9D;
    font-size: clamp(20px, 2vw, 64px);
}
::-webkit-scrollbar {
    width: 0px;
}

