body {
    background-image: url(https://cdn.jsdelivr.net/gh/IKEENOO/Portfolio/code/src/assets/background.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3 {
    text-shadow: #00ff2a 2px 2px;
}
h1 {
    font-size: clamp(12px, 20vh, 240px);
}
::-webkit-scrollbar {
    width: 0px;
}

